
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/fragments.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section layout:fragment="content">
  <div class="col-3"></div>
  <div class="container col-6">
    <h1>New User</h1>
      <div class="col-md-auto">
        <form th:object="${user}" th:action="@{/user/add}"  method="post">
          <div>
            <label th:text="Email" th:for="email"></label>
            <input type="text" th:field="*{email}" class="form-control" placeholder="Email"/>
          </div>
          <div style="clear: both; display: block; height: 10px"></div>
          <div>
            <label th:text="Password" th:for="password"></label>
            <input type="text" th:field="*{password}" class="form-control" placeholder="Password"/>
          </div>
          <div style="clear: both; display: block; height: 10px"></div>
          <div>
            <label th:text="Address" th:for="address"></label>
            <input type="text" th:field="*{address}" class="form-control" placeholder="Address"/>
          </div>
          <div style="clear: both; display: block; height: 10px"></div>

          <div>
            <label th:text="Phone" th:for="phone"></label>
            <input type="text" th:field="*{phone}" class="form-control" placeholder="Phone"/>
          </div>
          <div style="clear: both; display: block; height: 10px"></div>
          <input type="submit" class="btn btn-success" value="Save"/>
        </form>
      </div>
  </div>
</section>
</body>
</html>