<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/fragments.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section layout:fragment="content">
  <div class="col-3"></div>
  <div class="container col-6">
    <h1>Manage User</h1>
    <a href="/user/add" class="btn btn-success">Add User</a>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.email}"></td>
          <td th:text="${user.address}"></td>
          <td th:text="${user.phone}"></td>
          <td>
            <a th:href="@{/user/edit?id={id}(id=${user.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/user/delete?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>