<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/fragments.html}">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Manage Product</h1>
    <table class="table table-active">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Information</th>
            <th>Category</th>
            <th>Gender</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getInformation()}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.gender.name}"></td>

            <td>
                <a th:href="@{/product/edit?id={id}(id=${product.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/product/delete?id={id}(id=${product.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/product/add" class="btn btn-success">Add Product</a>
</div>
</body>
</html>