<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Edit Gender</title>
</head>
<body>
<div id="wrapper">
    <div class="container">
        <div class="row justify-content-around">
    <form th:object="${gender}" th:action="@{/gender/edit}"  method="post" class="col-md-6 bg-light p-3 my-3">
        <h1 class="text-center">Edit Gender</h1>
        <input type="hidden" th:field="*{id}">

        <div>
            <label th:text="Name" th:for="name"></label>
            <input type="text" th:field="*{name}" class="form-control" required/>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>

        <input type="submit" class="btn btn-success" value="Save"/>
    </form>
</div>
    </div>
</body>
</html>