<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/fragments.html}">
<head>
    <meta charset="UTF-8">
    <title>Gender</title>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Manage Gender</h1>
    <table class="table table-active">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        <tr th:each="gender : ${genders}">
            <td th:text="${gender.getName()}"></td>
            <td>
                <a th:href="@{/gender/edit?id={id}(id=${gender.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/gender/delete?id={id}(id=${gender.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/gender/add" class="btn btn-success">Add Gender</a>
</div>
</body>
</html>